.swiper {
  .swiper-button-prev,
  .swiper-button-next {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    &:after {
      content: "";
      position: absolute;
      
    }
    &:is(:hover, :active) {
      background-color: var(--hover-button-color);
    }
    &.swiper-button-disabled {
      display: none;
    }
  }
}